
h1{
    display: flex;
    /* justify-content: center; */
}

#map{
    width: 90%; 
    height: 600px;
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}